.about-title {
	font-family: 'ZCOOL KuaiLe', cursive;
	font-weight: 100;
	color: #032d11;
}

.about {
	font-family: 'ZCOOL KuaiLe', cursive;
	color: #5b5b5b;
}

.about-us {
	font-family: 'ZCOOL KuaiLe', cursive;
	color: #0d7710;
}